@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200..600');

body {
    margin: 24px;
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #212529;
    text-align: left;
    background-color: #fff
}

th, td {
    padding: 4px;
    padding-inline: 12px;
    line-height: 1.5;
}

table {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    margin-top: 16px;
    margin-bottom: 16px;
    border-collapse:collapse;
}

th {
    background-color: #999;
    color: #fff;
    font-weight: 500;
    font-size: 0.8em;
    text-align: left;
}

h1 {
    font-weight: 200;
    font-size: 260%
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.inherited {
    font-style: italic;
    color: #777;
}

.element-link {
    color: chocolate;
    font-weight: 300;
    margin-inline-start: 8px;
    text-decoration: none;
}

.element-title {
    font-weight: 300;
    font-size: 1.7em;
}
