@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&display=swap');

body {
    margin: 24px;
    font-family: "Roboto Flex", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #212529;
    text-align: left;
    background-color: #fff
}

th, td {
    padding: 8px;
    padding-inline: 12px;
    line-height: 1.25;
}

table {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    margin-top: 16px;
    margin-bottom: 16px;
    border-collapse:collapse;
}

th {
    background-color: #999;
    color: #fff;
    font-weight: 500;
    font-size: 0.8em;
    text-align: left;
}

h1 {
    font-weight: 100;
    font-size: 2.6em;
}

h2 {
    font-synthesis: none;
    color: #777;
    font-weight: 300;
    font-size: 2.1em;
    font-style: italic;
    padding-top: 16px;
    border-top: 1px solid #cccccc;
}

.element-title {
    font-weight: 200;
    font-size: 1.8em;
    letter-spacing: 2px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.detail-table {
    width: 100%;
}

.inherited {
    font-style: italic;
    font-weight: 250;
    color: #555;
}

.element-link {
    color: #FF5A00;
    font-size: 1em;
    font-weight: 300;
    margin-inline-start: 8px;
    text-decoration: none;
    letter-spacing: 1px;
    transition: color 0.25s;
    margin-bottom: 8px;
}

.element-link:hover {
    color: #2E9CE6;
}

.bubble {
    /*outline: 2px solid #bbb;
    border-radius: 8px;
    padding: 4px 12px 4px 12px;*/
}

.toc {
    /*outline: 2px solid #bbb;*/
    border-radius: 8px;
    padding: 20px;
    background-color: #eee;
}

.goto-toc {
    border-radius: 8px;
    padding: 12px;
    background-color: #eee;
    position:fixed;
    bottom: 24px;
    right: 24px
}
